<section class="gift-grid">
  <div class="grid">

    {% for block in section.blocks %}
      {% assign product = block.settings.product %}
      
      <div class="grid-item" data-product='{{ product | json | escape }}'>
        
        <img src="{{ product.featured_image | img_url: '600x' }}">

        <button class="plus-btn">+</button>

      </div>

    {% endfor %}

  </div>
</section>

<div id="popup" class="popup hidden">
  <div class="popup-inner">
    <span class="close">×</span>

    <div class="popup-content">
      <img id="popup-img">
      
      <div>
        <h2 id="popup-title"></h2>
        <p id="popup-price"></p>

        <div id="colors"></div>
        <select id="sizes"></select>

        <button id="add-to-cart">ADD TO CART</button>
      </div>
    </div>

  </div>
</div>


{% schema %}
{
  "name": "Gift Products",
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        { "type": "product", "id": "product", "label": "Select Product" }
      ]
    }
  ],
  "max_blocks": 12
}
{% endschema %}