<section class="gift-grid">
   <!-- 🔥 HEADING -->
  {% if section.settings.heading != blank %}
    <div class="gift-heading">
      <h2>{{ section.settings.heading }}</h2>
    </div>
  {% endif %}
  <div class="grid">

    {% for block in section.blocks %}
      {% assign product = block.settings.product %}
      
      <div class="grid-item" data-handle="{{ product.handle }}">
        
        <img src="{{ product.featured_image | img_url: '600x' }}">

        <button class="plus-btn"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
<circle cx="11" cy="11" r="11" fill="#F8F8F8" fill-opacity="0.9"/>
<path d="M11.3457 7.04175V15.5033" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
<path d="M7.11523 11.2725H15.5768" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
</svg></button>

      </div>

    {% endfor %}

  </div>
</section>

<div id="popup" class="popup">
  <div class="popup-inner">

    <span class="close">×</span>

    <div class="popup-wrapper">
      <div class="pop-up-top">
      <!-- LEFT IMAGE -->
      <div class="popup-left">
        <img id="popup-img">
      </div>

      <!-- RIGHT CONTENT -->
      <div class="popup-right">

        <h2 id="popup-title"></h2>
        <p id="popup-price"></p>

        <p id="popup-desc"></p>
     </div>
     </div>   
     <div class="popup-bottom">
        <!-- COLOR -->
        <div class="popup-group">
          <label>Color</label>
          <div id="colors"></div>
        </div>

        <!-- SIZE -->
        <div class="popup-group">
          <label>Size</label>
          <select id="sizes"></select>
        </div>

        <button id="add-to-cart" class="add-btn">
          ADD TO CART →
        </button>

      </div>
    </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Gift Products",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Tisso vison in the wild"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        { "type": "product", "id": "product", "label": "Select Product" }
      ]
    }
  ],
  "max_blocks": 12
}
{% endschema %}